<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="latestBusinessApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="latestBusinessApp.invoice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="latestBusinessApp.invoice.home.createLabel">Create</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span jhiTranslate="latestBusinessApp.invoice.home.notFound">Invoices Not Found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <!-- <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="invoiceNumber">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.invoice.invoiceNumber">Invoice Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="issueDate">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.invoice.issueDate">Issue Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dueDate">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.invoice.dueDate">Due Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalAmount">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.invoice.totalAmount">Total Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customer.id">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.invoice.customer">Customer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="business.id">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.invoice.business">__jhiTransformTranslate__('latestBusinessApp.invoice.business')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
          </td> -->
          <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.invoiceNumber }}</a>
          </td>
          <td>{{ invoice.issueDate | formatMediumDate }}</td>
          <td>{{ invoice.dueDate | formatMediumDate }}</td>
          <td>{{ invoice.totalAmount }}</td>
          <td>
            <div *ngIf="invoice.customer">
              <a [routerLink]="['/customer', invoice.customer.id, 'view']">{{ invoice.customer.firstName }}</a>
            </div>
          </td>
          <!-- <td>
            <div *ngIf="invoice.business">
              <a [routerLink]="['/business', invoice.business.id, 'view']">{{ invoice.business.id }}</a>
            </div>
          </td> -->
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
                [disabled]="true"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
