<div>
  <h2 id="page-heading" data-cy="BusinessHeading">
    <span jhiTranslate="latestBusinessApp.business.home.title">__jhiTransformTranslate__('latestBusinessApp.business.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="latestBusinessApp.business.home.refreshListLabel"
          >__jhiTransformTranslate__('latestBusinessApp.business.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-business"
        [routerLink]="['/business/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="latestBusinessApp.business.home.createLabel"
          >__jhiTransformTranslate__('latestBusinessApp.business.home.createLabel')</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="businesses?.length === 0">
    <span jhiTranslate="latestBusinessApp.business.home.notFound"
      >__jhiTransformTranslate__('latestBusinessApp.business.home.notFound')</span
    >
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="businesses && businesses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.business.name">__jhiTransformTranslate__('latestBusinessApp.business.name')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="website">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.business.website">__jhiTransformTranslate__('latestBusinessApp.business.website')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.business.email">__jhiTransformTranslate__('latestBusinessApp.business.email')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="latestBusinessApp.business.phone">__jhiTransformTranslate__('latestBusinessApp.business.phone')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let business of businesses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/business', business.id, 'view']">{{ business.id }}</a>
          </td>
          <td>{{ business.name }}</td>
          <td>{{ business.website }}</td>
          <td>{{ business.email }}</td>
          <td>{{ business.phone }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/business', business.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/business', business.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(business)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
