<div class="container">
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span>Dashboard</span>
  </h2>
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card mb-3 bg-dark cardbox">
        <span
          ><h4>Sales</h4>
          <p>100</p></span
        >
        <!-- Card content goes here -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3 bg-dark cardbox">
        <span
          ><h4>Profit</h4>
          <p>100</p></span
        >
        <!-- Card content goes here -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3 bg-dark cardbox">
        <span
          ><h4>Low Stocks</h4>
          <p>100</p></span
        >
        <!-- Card content goes here -->
      </div>
    </div>
    <!-- Add more cards as needed -->
  </div>
</div>
