<div class="d-flex justify-content-center">
  <div class="col-8" *ngIf="businessConfiguration">
    <h2 data-cy="businessConfigurationDetailsHeading">
      <span jhiTranslate="latestBusinessApp.businessConfiguration.detail.title">Invoice Setting</span>
    </h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <dl class="row-md jh-entity-details">
      <!-- <dt><span>ID</span></dt>
      <dd><span>{{ businessConfiguration.id }}</span></dd> -->

      <!-- <dt><span>Business ID</span></dt>
      <dd><span>{{ businessConfiguration.businessId }}</span></dd> -->

      <dt><span>Discount</span></dt>
      <dd>
        <span>{{ businessConfiguration.discount }}</span>
      </dd>

      <dt><span>Shipping Charges</span></dt>
      <dd>
        <span>{{ businessConfiguration.shippingCharges }}</span>
      </dd>

      <dt><span>Tax</span></dt>
      <dd>
        <span>{{ businessConfiguration.tax }}</span>
      </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button type="button" [routerLink]="['/business-configuration', businessConfiguration.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
</div>
